<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Application</title>
    <link rel="stylesheet" href="dashboard.css">

</head>
<body>
    <script src="dashboard.js"></script>
    <a href="{{ url_for('food', user_id=user.id) }}" class="button">Go to the food section of the application</a>
    <a href="{{ url_for('exercise', user_id=user.id) }}" class="exercise">Exercise and Fitness Statistics in Here</a>
    
</body>
</html>