<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Application</title>
    <link rel="stylesheet" href="/static/food.css">
</head>
<body>
    <script src="/static/food.js"></script>
    <div class="container">
        <h1 text-align="center">Daily Dietary and Meal Recommendations</h1>
    </div>
    <div class="meal-recommendations">
        <h2>Meal Recommendations</h2>
        <p>Here you can find personalized meal recommendations based on your dietary preferences and restrictions.</p>
    <button id="generateMealsBtn">Generate Meal Options</button>
    <div class="meal-sections" id ="mealSections">
        <div class="meal-section" id="breakfastSection">
            <h3>Breakfast</h3>
            <ul id="breakfastList"></ul>
        </div>
        <div class="meal-section" id="lunchSection">
            <h3>Lunch</h3>
            <ul id="lunchList"></ul>
        </div>
        <div class="meal-section" id="dinnerSection">
            <h3>Dinner</h3>
            <ul id="dinnerList"></ul>
        </div>
        
    </div>
    
</body>
</html>