<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Application</title>
    <link rel="stylesheet" href="/static/food.css">
</head>
<body>
    <script>
        window.currentUserId = "{{ user_id }}";
    </script>
    <script src="/static/food.js"></script>
    
    <div class="container">
        <h1 style="text-align:center;">Daily Dietary and Meal Recommendations</h1>
    </div>
    <div class="meal-recommendations">
        <h2>Meal Recommendations</h2>
        <p>Here you can find personalized meal recommendations based on your dietary preferences and restrictions.</p>
        <div id="mealSections" class="mealSections"></div>
        <button id="generateMealsBtn" class="generateMealsBtn">Generate Meal Options</button>
        

    </div>
    <div class="meal-input">
        <h2>Input Your Meal</h2>
        <form id="mealForm">
            <label for="mealName">Meal Name:</label>
            <input type="text" id="mealName" name="mealName" required>
            
            <label for="mealDescription">Meal Description:</label>
            <textarea id="mealDescription" name="mealDescription" required></textarea>
            
            <button type="submit" class="button">Submit Meal</button>
        </form>
    </div>
    <div class="meal-history" id="mealHistory">
        <h3>Meal History</h3>
        <p>View your past meals and dietary choices.</p>
        <button id="viewMealHistoryBtn" class="button">View Meal History</button>
        <div class = "macro-summary" id="macroSummary">
            <h4>Today's Macronutrient Summary</h4>
            <div>
                <span id="macroCalories">Calories: 0 / 1800kcal</span>
                <span id="macroProtein">Protein: 0g / 150g</span>
                <span id="macroCarbs">Carbs: 0g / 200g</span>
                <span id ="macroFat">Fat: 0g / 70g</span>
            </div>
        <table id="mealHistoryTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Ingredients</th>
                <th>Calories</th>
                <th>Protein (g)</th>
                <th>Carbs (g)</th>
                <th>Fat (g)</th>
            </tr>
        </thead>
        
        <tbody id="mealHistoryList">
            <!-- Meal history will be populated here -->
        </tbody>
        </table>
    </div>
    <div class="meal-identification" id="mealIdentification">
        <h3>Identify meal with camera; upload an image</h3>
        <input type="file" id="mealImageInput" accept="image/*">
        <button id="identifyMealBtn" class="button">Identify Meal</button>
        <div id="mealIdentificationResult"></div>
    </div>
    <p><strong>Ingredients:</strong> ${meal.ingredients && meal.ingredients !== "Unknown" ? meal.ingredients : 'Ingredients not found'}</p>
</body>
</html>