<!Doc html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Application</title>
        <link rel="stylesheet" href="styles.css">
        <script src="index.js" defer></script>
    </head>
    <body>
        <div class="container">
            <h1>Health application</h1>
            <button id="myButton">Click Me!</button>
            <p id="message"></p>
            
        </div>
    </body>
</html>